%copy {
	font-family: $f-copy-family;
}

.copy {
	@extend %copy;
}

%heading {
	font-family: $f-heading-family;
	font-weight: 800;
}

.heading {
	@extend %heading;
}

.button {
	@extend %button;
}

.button-borderless {
	border-color: transparent;
	margin-right: 1em;
	padding-left: 0;
	padding-right: 0;

	&:hover {
		background-color: transparent;
		border-bottom: 0;
		text-decoration: underline;
	}
}

%screen-reader-text {
	border: 0;
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	word-wrap: normal;
}

.screen-reader-text {
	@extend %screen-reader-text;
}

.wf-loading {
	font-family: sans-serif !important; // sass-lint:disable-line no-important Forced by WordPress
}

%inner {
	margin-left: auto;
	margin-right: auto;
	width: calc(100% - 4rem);
}

.inner {
	@extend %inner;

	max-width: $s-large;
}

%copy-inner {
	@extend %inner;

	max-width: $s-copy;
}

.copy-inner {
	@extend %copy-inner;
}

%content-inner {
	@extend %inner;

	max-width: $s-content;
}

.content-inner {
	@extend %content-inner;
}

.site-content {
	@include medium {
		margin: 8rem 0;
	}

	margin: 4rem 0;

	form {
		@extend %copy-inner;
	}
}

.has-header-image {
	@include medium {
		margin-top: 0;
	}

	margin-top: 0;
}

.shaded-section {
	@include medium {
		margin: 8rem 0;
	}

	background-color: $c-background-light;
	margin: 4rem 0;
	padding: 4rem 0;

	h2 {
		@extend %content-inner;

		margin-top: 0;
	}
}

.subtitle {
	color: $c-text-light;
	font-family: $f-heading-family;
	font-style: italic;
	letter-spacing: 0.05em;
}

.pagination-wrapper {
	margin: 4rem auto;

	hr {
		border-color: $c-text-light;
		border-left: 0;
		border-right: 0;
		border-top: 0;
		margin-bottom: 4rem;
		width: 50%;
	}

	.nav-links {
		display: flex;
		justify-content: space-around;
	}
}

.page-header-featured-image-container {
	background-color: $c-black;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	overflow: hidden;
	width: 100%;
	z-index: 1;

	img {
		height: 100%;
		left: 0;
		object-fit: cover;
		object-position: center;
		opacity: 0.5;
		position: absolute;
		top: 0;
		width: 100%;
	}
}
