// Sizing.
$s-medium: 700px;
$s-large: 1220px;

$s-icon-size: 2.4rem;
$s-copy: 640px;
$s-content: 960px;

// Colors.
$c-black: #000;
$c-white: #fff;

$c-background: #fff;
$c-background-dark: #222;
$c-background-light: #eee;
$c-text: #333;
$c-text-light: #6d6d6d;
$c-light-on-dark: #fff;
$c-card-shadow: rgba(0, 0, 0, 0.25);
$c-theme: #8e6e5d;
$c-button-hover-background: rgba($c-theme, 0.1);
$c-link: $c-theme;
$c-link-hover: darken($c-theme, 10);
$c-link-border: rgba($c-theme, 0.25);
$c-link-border-hover: $c-theme;
$c-background-translucent: rgba(0, 0, 0, 0.5);
$c-cta-background: rgba($c-black, 0.5);
$c-cta-border: rgba($c-white, 0.5);

// Fonts.
$f-system-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
$f-heading-family: big-caslon-fb, serif;
$f-copy-family: Inter, sans-serif;
