.card-image-container {
	background-color: $c-black;
	height: 0;
	padding-bottom: calc(9 / 16 * 100%);
	position: relative;
	width: 100%;

	img {
		height: 100%;
		object-fit: cover;
		object-position: center;
		position: absolute;
		width: 100%;
		z-index: 1;
	}
}

.card {
	@include medium {
		max-width: calc(100% - 4rem);
	}

	background-color: $c-background;
	border-radius: 2px;
	box-shadow: 0 2px 4px $c-card-shadow;
	color: $c-text;
	display: flex; // For the inspiration, thanks, @evelynhathaway!
	flex-direction: column;
	max-width: calc(100% - 2rem);
	overflow: hidden;
	width: $s-copy;

	h1 {
		font-size: 1.5em;
	}

	h3 {
		display: flex;
		flex-direction: column;

		small {
			color: $c-text-light;
			font-size: 0.8em;
			order: -1;
			text-transform: capitalize;
		}
	}

	p {
		@include medium {
			font-size: 0.8em;
		}

		font-size: 0.9em;
	}

	.entry-header {
		height: auto;
		position: relative;
		width: 100%;

		.inner {
			margin: 0;
			padding: 0;
			position: relative;
			width: 100%;
		}
	}

	.page-header-featured-image-container {
		position: relative;
		height: 0;
		padding-bottom: calc(9 / 16 * 100%);
		width: 100%;

		img {
			opacity: 1;
		}
	}

	.post-meta-wrapper {
		color: $c-text-light;
		font-size: 0.8em;
		margin: 0 0 1rem;
		padding: 0 2rem;

		a {
			color: $c-text-light;
		}

		.meta-icon {
			margin-right: 0.25em;
			padding-bottom: 0;
		}

		.svg-icon {
			fill: $c-text-light;
		}
	}
}

.card-content {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: space-between;

	p {
		width: calc(100% - 4rem);

		&:last-child {
			display: flex;
			flex-direction: row-reverse;
			flex-wrap: wrap-reverse;

			a {
				flex-shrink: 0;
			}
		}
	}
}

.horizontal-card {
	@include medium {
		max-width: 100%;
	}

	display: flex;
	flex-direction: row;
	max-width: 100%;
	width: 100%;

	.card-image-container {
		height: auto;
		padding-bottom: 0;
		padding-right: calc(16 / 9 * 20%);
		width: 0;
	}
}

.large-cards-container {
	@extend %content-inner;

	@include medium {
		grid-template-columns: repeat(2, 1fr);
	}

	display: grid;
	grid-gap: 2rem;
	grid-template-columns: 1fr;

	.card {
		max-width: 100%;
		width: 100%;
	}

	.pagination-wrapper {
		grid-column: auto / span 2;
	}
}

.cards-carousel-track {
	@include reduced-motion {
		transition: none;
	}

	@include medium {
		grid-gap: 4rem;
		padding: 0 4rem;
	}

	display: grid;
	grid-gap: 2rem;
	padding: 0 2rem;
	overflow: visible;

	&::after {
		content: "";
		margin-left: -1rem;
		padding-right: 1rem;
		width: 0;
	}

	.card {
		flex-shrink: 0;
		grid-row: 1;
		max-width: 100%;
	}

	@for $i from 2 through 4 {
		&[data-chapters="#{$i}"] {
			@include medium {
				grid-template-columns: repeat(#{$i}, $s-copy) auto;
			}

			grid-template-columns: repeat(#{$i}, calc(100vw - 4rem)) auto;

			.card {
				$pos: $i + 1;
				@for $j from 1 through $i {
					&:nth-child(#{$j}) {
						grid-column: $pos - $j;
					}
				}
			}
		}
	}
}

.cards-carousel {
	overflow: auto;
	padding: 1em 0;
	position: relative;

	// @TODO: Style the toggles for the track.
	.toggle {
		display: none;
	}
}

.horizontal-cards-container {
	display: grid;
	grid-gap: 2rem;
	grid-template-columns: 1fr;
}

.cards-container {
	@extend %content-inner;
}

.cards-section {
	@include medium {
		margin-bottom: 8rem;
	}

	margin-bottom: 4rem;

	h2 {
		max-width: $s-content;
	}
}

.small-cards-section {
	.large-cards-container {
		@include medium {
			grid-template-columns: repeat(2, 1fr);
		}

		@include large {
			grid-template-columns: repeat(3, 1fr);
		}

		grid-template-columns: 1fr;
	}
}
