.cta {
	background-color: $c-cta-background;
	border: 1px solid $c-cta-border;
	color: $c-light-on-dark;

	&:hover {
		background-color: $c-black;
		border: 1px solid $c-cta-border;
		color: $c-light-on-dark;
	}
}

.cta-wrapper {
	margin: 2rem auto;
	text-align: center;
}
