.site-logo {
	margin: 0;
	max-width: 100%;
	padding: 0;
}

.site-title {
	margin: 0;
	max-width: 100%;
}

.custom-logo-link {
	background-color: initial;
	border: 0;
	display: block;
	width: 100%;

	&:hover {
		background-color: initial;
	}
}

.custom-logo {
	display: block;
	height: auto;
	margin: 0 auto;
	max-height: 100%;
	max-width: 20rem;
	width: 100%;
}

// @TODO: Integrate customization abilities.
.site-description {
	display: none;
}

.header-titles {
	flex-shrink: 1;
	width: 100%;
}

.header-titles-wrapper {
	@include medium {
		padding: 0;
		text-align: left;
	}

	align-items: center;
	display: flex;
	justify-content: center;
	padding: 0 4rem;
	text-align: center;
}

.header-inner {
	@include medium {
		align-items: center;
		display: flex;
		justify-content: space-between;
		padding: 2.8rem 0;
	}

	max-width: 168rem; // @TODO: Use variable instead.
	padding: 3.15rem 0;
	position: relative;

	.toggle {
		overflow: visible;
		padding: 0 2rem;
	}
}

.site-header {
	position: relative;
}

.desktop-search-toggle,
.desktop-translations-toggle {
	@include medium {
		display: block;
	}

	display: none;
}

.mobile-search-toggle,
.mobile-nav-toggle,
.mobile-translations-toggle {
	@include medium {
		display: none;
	}

	bottom: 0;
	display: block;
	height: 2.4rem;
	top: 3.15rem;
}

.mobile-search-toggle {
	left: -2rem;
	position: absolute;
}

.mobile-nav-toggle,
.mobile-translations-toggle {
	position: absolute;
	right: -2rem;
}

.header-toggles {
	@include medium {
		display: flex;
	}

	display: none;
	margin-left: 2rem;
	position: relative;

	&::before {
		background-color: $c-text-light;
		content: "";
		display: block;
		height: 150%;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 1px;
	}
}

.toggle-wrapper {
	.toggle {
		margin: 0 0 0 2rem;
		padding: 0;
	}

	&:last-child {
		.toggle {
			padding-right: 0;
		}
	}
}

.primary-menu {
	align-items: center;
	display: flex;
	justify-content: center;
	list-style: none;
	margin: 0;
	max-width: 100%;
	padding: 0;
}

.header-navigation-wrapper {
	@include medium {
		flex-direction: row;
	}

	align-items: center;
	display: flex;
	flex-direction: row;
	flex-shrink: 0;
}

.primary-menu-wrapper {
	@include medium {
		margin-top: 0;
		width: auto;
	}

	margin-top: 3.15rem;
	width: 100%;

	&:hover {
		.menu-item {
			a {
				border-bottom-color: $c-link-border;
				color: $c-text-light;

				&:hover {
					border-bottom-color: $c-theme;
					color: $c-text;
				}
			}
		}
	}
}

%has-image {
	@include medium {
		margin-bottom: 8rem;
		padding-bottom: calc(1 / 2 * 100%);
	}

	@include large {
		padding-bottom: calc(1 / 3 * 100%);
	}

	height: 0;
	margin-bottom: 4rem;
	padding-bottom: 100%;
	position: relative;

	.inner {
		align-items: center;
		color: $c-light-on-dark;
		display: flex;
		flex-direction: column;
		height: 100%;
		justify-content: center;
		left: 0;
		max-width: 100%;
		position: absolute;
		text-align: center;
		top: 0;
		width: 100%;
		z-index: 2;
	}

	.meta-icon {
		.svg-icon {
			fill: $c-light-on-dark;
		}
	}

	.post-meta-wrapper {
		width: auto;
	}
}

.has-header-image {
	& > .has-image {
		@extend %has-image;
	}

	& > .page,
	& > .post {
		&:not(.card) {
			& > .has-image {
				@extend %has-image;
			}
		}
	}
}

.hide-title {
	h1,
	.page-meta {
		display: none;
	}

	.page-header-featured-image-container {
		img {
			opacity: 1;
		}
	}
}
