.current-menu-item {
	a {
		border-bottom-color: $c-theme;
		color: $c-text;
	}
}

.menu-item {
	@include medium {
		margin-left: 1em;
		margin-right: 0;
	}

	margin-bottom: 0;
	margin-left: 0.5em;
	margin-right: 0.5em;

	a {
		color: $c-text-light;

		&:hover {
			color: $c-text;
		}
	}
}
