.wp-block-cover {
	@include medium {
		margin: 8rem 0;
	}

	margin: 4rem 0;
}

.wp-block-embed-youtube,
.wp-block-file,
.wp-block-image,
.wp-block-quote {
	@extend %copy-inner;
}

.wp-block-quote {
	border-left: 4px solid $c-card-shadow;

	p {
		font-size: 1.2em;
		font-style: italic;
		font-weight: 600;
		line-height: 1.4;
	}
}

.wp-block-embed__wrapper { // sass-lint:disable-line class-name-format Forced by WordPress.
	iframe {
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}
}

.wp-embed-aspect-16-9 {
	height: auto;
	position: relative;
	width: 100%;

	.wp-block-embed__wrapper { // sass-lint:disable-line class-name-format Forced by WordPress.
		height: 0;
		left: 0;
		padding-bottom: calc(9 / 16 * 100%);
		position: relative;
		top: 0;
		width: 100%;
	}
}

.alignwide {
	@extend %content-inner;

	p {
		max-width: 100%;
	}
}

.alignfull {
	max-width: 100%;
	width: 100%;
}

.alignleft {
	margin-left: calc((100vw - #{$s-copy}) / 4 * -1);
}

.alignright {
	margin-right: calc((100vw - #{$s-copy}) / 4 * -1);
}
